* {
  margin: 0;
  padding: 0;
}

.item1 {
  grid-area: first-p;
}
.item2 {
  grid-area: second-p;
}
.item3 {
  grid-area: third-p;
}
.item4 {
  grid-area: fourth-p;
}
.item5 {
  grid-area: aside;
  image-resolution: 400;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "first-p second-p aside"
    "third-p fourth-p aside";
  gap: 10px;
  padding: 40px;

  text-align: center;
}

h1,
h2,
p {
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 90px;
}
h2 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 10px;
  margin: 30px 0;
}
p {
  color: rgb(153, 157, 177);
  font-size: 25px;
  padding: 0 10%;
}
